<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Passkey-test</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <h1>Log in with Passkey</h1>
  <form id="register-form">
    <input type="text" id="username" placeholder="username" />
    <button type="submit">Create Passkey</button>
    <small>Your passkey will be saved securely to this device.</small>
  </form>
  <div id="result"></div>

  <script src="/static/js/register.js"></script>
</body>

</html>
